<section class="container mx-auto">
  <div class="flex flex-row justify-between p-10">
    <div>
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="form"
        class="flex flex-col items-start"
      >
        <label for="name">Name:</label>
        <input
          formControlName="name"
          class="border p-1 focus:outline-none"
          type="text"
          name="name"
        />
        <label for="email">Email:</label>
        <input
          formControlName="email"
          class="border p-1 focus:outline-none"
          type="email"
          name="email"
        />
        <div class="flex justify-center w-full my-5">
          <button class="bg-blue-200 p-1 rounded hover:bg-blue-300">
            Submit
          </button>
        </div>
      </form>
    </div>
    <div>
      <h1>Datos de los usuarios</h1>
    </div>
  </div>
</section>
